.theme-toggle {
	.theme-toggle-label {
		user-select: none;
		width: 70.3125px;
		height: 28.125px;
		position: relative;
		display: block;
		background: #ebebeb;
		border-radius: 28.125px;
		box-shadow: inset 0px 2.40625px 2.21875px rgba(0, 0, 0, 0.4),
			inset 0px -2.40625px 2.21875px rgba(255, 255, 255, 0.4);
		cursor: pointer;
		transition: 0.3s;

		&:after {
			content: "";
			width: 25.3125px;
			height: 25.3125px;
			position: absolute;
			top: 1.40625px;
			left: 1.40625px;
			background: linear-gradient(180deg, #ffcc89, #d8860b);
			border-radius: 25.3125px;
			box-shadow: 0px 4.40625px 4.125px rgba(0, 0, 0, 0.2);
			transition: 0.3s;
		}
	}

	.toggle-theme-input {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	.toggle-theme-input:checked + .theme-toggle-label {
		background: #242424;

		&:after {
			left: 69.609375px;
			transform: translateX(-100%);
			background: linear-gradient(180deg, #777, #3a3a3a);
		}

		&:active:after {
			width: 37.03125px;
		}
	}

	.theme-toggle-label .theme-image {
		position: absolute;
		width: 16.875px;
		top: 4px;
		z-index: 100;
	}

	.sun {
		position: relative;
		left: 5.5px;
	}

	.moon {
		position: relative;
		left: 49px;
	}

	.theme-toggle-label .theme-image .sun {
		filter: invert(1);
		transition: 0.3s;
	}

	.theme-toggle-label .theme-image .moon {
		filter: invert(0.5);
		transition: 0.3s;
	}

	.toggle-theme-input:checked + .theme-toggle-label .theme-image.sun {
		filter: invert(0.5);
	}

	.toggle-theme-input:checked + .theme-toggle-label .theme-image.moon {
		filter: invert(1);
	}
}
