/* Navbar.scss */

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	padding: 10px 20px;
	color: white;
	position: relative; /* Add positioning for the dropdown panel */

	&-logo {
		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				display: inline;

				font-family: "eliantoregular";
				font-size: var(--font-7);
				cursor: pointer;
				margin-left: 20px;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 3px;

				&:active {
					transform: translateY(-2px);
				}
			}
		}
	}

	&-items {
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;

		li {
			margin-right: 20px;
		}
	}

	&-user-image {
		cursor: pointer;
	}

	&-panel {
		position: absolute;
		top: 60px;
		right: 20px;
		background-color: #ffffff;
		border: 1px solid #ccc;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;

		/* Custom styles for the panel's content */
		.user-profile {
			margin-bottom: 10px;
			border-radius: 50%;
			overflow: hidden;
			width: 80px;
			height: 80px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.logout-button {
			background-color: #e74c3c;
			color: white;
			border: none;
			padding: 8px 15px;
			margin-top: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #c0392b;
			}
		}

		.logout-multiple-button {
			background-color: #3498db;
			color: white;
			border: none;
			padding: 8px 15px;
			margin-top: 10px;
			cursor: pointer;
			transition: background-color 0.3s ease;

			&:hover {
				background-color: #2980b9;
			}
		}
	}
}
