.side-navbar {
	.side_bar {
		@include flex-container(column, center);
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		max-width: 300px;
		height: 100vh;
		background: var(--theme-panel);
		backdrop-filter: blur(20px);
		padding: 12px;
		box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1,
			inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
		transition: all 0.3s ease;
		z-index: 5;
		.title {
			@include flex-container(row, wrap, center);
			.logo {
				font-family: "eliantoregular";
				font-size: var(--font-8);
				letter-spacing: 3px;
			}
			.cancel {
				margin-left: 30px;
			}
		}

		ul {
			margin-top: 50px;
			list-style: none;
			li {
				@include flex-container(row, wrap, center);

				.side-nav-links {
					text-decoration: none;
					display: block;
					margin: 25px;
					font-family: var(--font-roboto);
					font-size: var(--font-12);
					font-weight: 600;
					letter-spacing: 2px;
					padding: 15px 40px;
					border-radius: 50px;
					box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
					position: relative;
					transition: all 0.2s ease;

					// i {
					// 	margin-right: 10px;
					// }

					&:hover:before {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;

						border-radius: 50px;
					}

					&:hover {
						color: #3498db;
					}
				}
			}
		}
		.theme-toogle-container {
			@include flex-container(row, wrap, center);
			margin-top: 20px;
		}
	}

	label {
		font-size: 17px;
		color: #31344b;
		box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px #ceced1;
		height: 37px;
		width: 37px;
		border-radius: 50%;
		text-align: center;
		line-height: 37px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
			color: #3498db;
		}
	}

	#check {
		display: none;
	}

	.bars {
		position: absolute;
		left: 15px;
		top: 15px;
	}

	#check:checked ~ .side_bar {
		left: 0;
	}
}
